body{
	margin: 0;
	padding: 0;
}
ul
{
	 padding: 0;		
     margin-left: 25px;
     margin-right: 10px;
}

.wrapper
{
	/*margin: 0 auto;*/
	width: 700px;
	top: 50%;
	margin-top: -210px;
	left: 50%;
	margin-left: -375px;
	position: absolute;
}
.block
{
	border-radius: 10px;
	font-family: monospace;
	font-size: 9pt;
}

.block_num_1
{ 
	width: 50%;
	height: 423px;
	background: #ebe3dd;
	overflow: scroll;
}
.block_num_2
{ 
	position: absolute;
	overflow: scroll;
 	top: 0;
 	left: 50%;
 	width: 400px;
 	bottom: 50%;
    background: #ebe3dd; 
    height: 210px;
    margin-left: 3px;
}

.block_num_3
{
	position: absolute;
 	top: 50%;
 	left: 50%;
 	bottom: 0;
 	width: 400px;
 	height: 210px;
 	background: #ebe3dd;	
 	margin-top: 3px;
 	margin-left: 3px;
 }

 a {
    color: #6bbfbf; 
    text-decoration: none;
   }

 p
{
	text-align: center;
}
 .block_open
 {
 	text-align: center;
 	display: table-cell;
	height: inherit;
	width:400px;
	vertical-align: middle;
}

 .block_state_close
{ 
	background: #ffdfc7;
}

 .block_close,
 .block_state_open  .block_open
 {
 	display: none;
 }
  .block_state_open  .block_close
 {
 	display: table-cell;
	height: inherit;
	width:400px;
	vertical-align: middle;
 }
